body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #a1615f;
  color: #633230;
  background: radial-gradient(#7f3f3d, #a1615f);
  text-align: center;
  font-family: "Source Code Pro", monospace;
  height: 100%;
}

.App {
  justify-content: center;
  padding: 10px;
  display: grid;
  width: 100;
  box-shadow: 0 0 30px;
  background-color: #f5f5f5;
  grid-template: 1fr 8fr/ 1fr;
  grid-template-areas:
    "header"
    "main";
}

/* nice darker red: 7f3f3d */
/* nice lighter red: a1615f */
